<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div class="error-container">
    <img src="images/error.png" alt="error img"/>
    <h1 class="error-title">Engine Check: Page Not Found</h1>
    <p class="error-display">The page you’re trying to reach isn’t on our route.</p>
    <p class="message" th:text="${message}"></p>
    <a class="home-link" th:href="@{/}">← Back to Home</a>
</div>
</body>
</html>