<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car List</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="container">
<h1>Rhayven's Car List</h1>

<div class="button-bar">
    <a class="add-button" th:href="@{/add}">Add New Car</a>
    <form th:action="@{/logout}" method="post" style="margin:0;">
        <button type="submit" class="logout-button">Logout</button>
    </form>
</div>
<table border="1">
    <thead>
    <tr>
        <th>Car ID</th>
        <th>License Plate</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
        <th>Body Type</th>
        <th>Engine Type</th>
        <th>Transmission</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${cars}">
        <td th:text="${car.carId}"></td>
        <td th:text="${car.licensePlateNumber}"></td>
        <td th:text="${car.make}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.year}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.bodyType}"></td>
        <td th:text="${car.engineType}"></td>
        <td th:text="${car.transmission}"></td>
        <td class="action-links">
            <a th:href="@{/edit/{id}(id=${car.carId})}" class="edit-btn">Edit</a>
            <a th:href="@{/delete/{id}(id=${car.carId})}" class="delete-btn" onclick="return confirm('Are you sure?');">Delete</a>
        </td>
    </tr>
    </tbody>

</table>
</div>
</body>
</html>